<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="">Home</a>
                <a class="nav-item nav-link" href="about">About Us</a>
                <a class="nav-item nav-link" href="contact">Contact Us</a>
            </div>
            {% if user.is_authenticated %}
            <div>
                <a class="btn btn-primary"  href="{% url 'djangoapp:add_review' dealer.id %}">Add Review</a>
            </div>
            <div id="navbarNav">
                <form class="form-inline">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <a class="text-ligh" href="#">{{ user.username }}</a>
                            </div>
                            <div class="col-sm">
                                <a class="text-ligh" href="{% url 'djangoapp:logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% else %}
            <div id="navbarNav">
                <form class="form-inline">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username">
                        <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password">
                       <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button> -->
                        <a class="btn btn-outline-primary my-2 my-sm-0" style="font-size:15px" href="{% url 'djangoapp:login' %}">Log in</a>
                        <a class="btn btn-outline-primary my-2 my-sm-0" style="font-size:15px" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>

    <!-- Add reviews as cards -->
    {% if reviews %}
        <div><label><b>Reviews for: {{dealer_name}}</b></label></br></br></div>
        <div class="card-columns">
            {% for review in reviews %}
                {% if review.car_make %}
                <div class="card" style="height: 200px; width 200px; overflow: scroll; overflow-x: hidden;">
                    <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" style="float: left; height: 36px; width: 36px; display: inline-block;"></br></br>
                    <div class="card-body" style="text-align: left;">
                        <label class="card-title" style="display: inline-block;">{{ review.car_make }}, {{ review.car_model }}</label></br>
                        <label class="card-title">{{ review.car_year }}</label>
                        <p class="card-text" style="text-align: left;">{{ review.review }}</p>
                    </div>
                </div>
                {% else %}
                <div class="card" style="height: 200px; width 200px; overflow: scroll; overflow-x: hidden;">
                    <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" style="float: left; height: 36px; width: 36px; display: inline-block;"></br></br>
                    <div class="card-body" style="text-align: left;">
                        <label class="card-title" style="display: inline-block;">Review</label></br>
                        <label class="card-title"></label>
                        <p class="card-text" style="text-align: left;">{{ review.review }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p></br>This dealership hasn't been reviewed yet. Be the first one to leave a review!</br></p>
        {% if user.is_authenticated %}
            <div style="margin: 10px;">
                <a class="btn btn-primary" href="{% url 'djangoapp:add_review' dealer_id %}">Write Review</a>
            </div>
        {% endif %}
    {% endif %}
    </body>

</html>
